{{#partial "content"}}


        <p>Name: {{animal.name}}</p>
        {{#if animal.sightings}}
            {{#each}}
                <p>Location: {{location}}</p>
                <p>Ranger Name:{{ranger_name}}</p>
            {{/each}}
        {{/if}}

    <p>
        <a href="/animals/{{animal.id}}/edit">Edit</a><br>
        <a href="/sightings/{{animal.sightingId}}/animals/{{animal.id}}/delete">DELETE</a>
    </p>

{{/partial}}

{{> layout.hbs}}