{{#partial "content"}}


        <p>Name: {{animal.name}}</p>
        <p>Sighted At: {{sighting.location}}</p>
        <p>Ranger: {{sighting.ranger}}</p>
        <p>Time Sighted: {{animal.createdAt}}</p>

    <p>
        <a href="/animals/{{animal.id}}/edit">Edit</a><br>
        <a href="/sightings/{{animal.sightingId}}/animals/{{animal.id}}/delete">DELETE</a>
    </p>

{{/partial}}

{{> layout.hbs}}