{{#partial "content"}}

    <h1>Add Animal Your Animal</h1>

    <form action="/animal/new" method="post">
        <label>Animal Name</label>
        <input type="text" name="name">
        <label>ENDANGERED ANIMAL?</label>
        <input type="checkbox" name="endangered" value="yes">

        <h3>Add Additional Details if the animal is Endangered:</h3>
        <div class="form-group reveal-if-active">
            <label for="health">Health (as far you can tell)</label>
            <select class="form-control" name="health">
                <option>{{HEALTH_HEALTHY}}</option>
                <option>{{HEALTH_OK}}</option>
                <option>{{HEALTH_ILL}}</option>
            </select>
        </div>

        <div class="form-group reveal-if-active">
            <label for="age">Age (as far you can tell)</label>
            <select class="form-control" name="age">
                <option>{{AGE_BABY}}</option>
                <option>{{AGE_YOUNG}}</option>
                <option>{{AGE_ADULT}}</option>
            </select>
        </div>
        <button type="submit">Add Animal</button>
    </form>

{{/partial}}

{{> layout.hbs}}