{{#partial "content"}}

    <h1> REPORT SIGHTING </h1>

    <h4><a href="/animal/new">Add Animal to System</a></h4>
    <hr>

    <h3> Report Animal NOT ENDANGERED Sighting </h3>
    {{#if animals}}
        <form action="/sighting" method="post">
            <label>SELECT ANIMAL</label>
            <select name = "animalSelected">
                {{#each animals}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
            <label>Location</label>
            <input type="text" name="location">
            <label>Your Name Please</label>
            <input type="text" name="rangerName">
            <button type="submit">ADD SIGHTING</button>
        </form>
    {{/if}}

    <hr>

    <h3> Report  ENDANGERED ANIMAL Sighting </h3>
    {{#if endangered}}
        <form action="/endangered_sighting" method="post">
        <select name="endangeredAnimal">
            {{#each endangered}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
        <label>Location</label>
        <input type="text" name="location">
        <label>Your Name Please</label>
        <input type="text" name="rangerName">
        <button type="submit">ADD SIGHTING</button>
        </form>
    {{/if}}

<hr>

    <h3>Endangered Animals Sightings</h3>
    {{#if endangered}}
        {{#each endangered}}
            <a href="/endangered_animal/{{id}}" class="thumbnail">
                <h4>{{name}}</h4>
                <h4>{{getSightings.size}} Reported Sightings</h4>
                    <p>Click for Details</p>
            </a>
            {{/each}}
    {{else}}
        <a href="/animal/new">Add Animal to Report a Sighting</a>
    {{/if}}

    <h3>All Animals Sightings</h3>
    {{#if animals}}
        {{#each animals}}
            <a href="/animal/{{id}}" class="thumbnail">
                <h4>{{name}}</h4>
                <h4>{{getSightings.size}} Reported Sightings</h4>
                <p>Click for Details</p>
            </a>
        {{/each}}
    {{/if}}

{{/partial}}

{{> layout.hbs}}