{{#partial "content"}}
    <h1>{{sighting.location}}</h1>
    <p>Sightings in this Area:</p>
    <ul>
        {{#each animals}}
            <li>
                <p><a href="/sightings/{{sighting.id}}/animals/{{id}}">{{name}}</a></p>
            </li>
        {{/each}}
    </ul>
    <a href="/sightings/{{sighting.id}}/edit">Edit</a><br>
    <a href="/sightings/{{sighting.id}}/delete">DELETE</a>
{{/partial}}

{{> layout.hbs}}